<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

    <main class="form-main">
        <section class="form-container">
            <h1 class="form-title">Agregar nuevo producto</h1>

            <form class="form" action="/productos/agregar" method="GET">
                <label for="img">Imagen del producto:</label>
                <input type="file" name="img" id="img">

                <label for="nombre">Nombre del producto:</label>
                <input type="text" name="nombre" id="nombre" required>

                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="4" required></textarea>

                <button type="submit" class="buy-now-button">CARGAR PRODUCTO</button>
            </form>
        </section>
    </main>

    <%- include("partials/footer") %>

</body>
</html>

