<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

    <main class="form-main">
  <h1>Cargar un nuevo producto</h1>

  <form action="/productos/crear" method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>

    <label>Descripción:</label>
    <textarea name="descripcion" required></textarea>

    <label>Precio:</label>
    <input type="number" name="precio" step="0.01" required>

    <label>Imagen:</label>
    <input type="text" name="imagen" required>

    <button type="submit">Guardar</button>
  </form>
</main>


    <%- include("partials/footer") %>

</body>
</html>

