<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Proyecto Integrador</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/stylesheets/css/app.css">
    </head>
<%- include("partials/header") %>
<body>
    <!-- Detalle del producto -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title">Nombre del producto</h2> 
            <p class="product-detail-description">
                <a href="/productos/1/editar">Editar</a>
            </p>
        </div>

        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/products/default-image.png" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                        Descripción corta del producto. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <article>
                            <img src="https://via.placeholder.com/35" alt="">
                            <div class="data">
                                <p class="user">
                                    <strong><a href="/perfil">Nombre usuario:</a></strong>
                                    Comentario de ejemplo 1.
                                </p>
                            </div>
                        </article>

                        <article>
                            <img src="https://via.placeholder.com/35" alt="">
                            <div class="data">
                                <p class="user">
                                    <strong><a href="/perfil">Nombre usuario:</a></strong>
                                    Comentario de ejemplo 2.
                                </p>
                            </div>
                        </article>
                    </section>

                    <form class="form" action="/productos/1/comentario" method="POST">
                        <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" required>
                        <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
