<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

    <main class="form-main">
        <section class="form-container">
            <h1 class="form-title">Registro de usuario</h1>

            <form class="form" action="/register" method="POST">
                <label>Email:</label>
                <input type="email" name="email" required>

                <label>Usuario:</label>
                <input type="text" name="usuario" required>

                <label>Contraseña:</label>
                <input type="password" name="contrasenia" required>

                <label>Fecha de nacimiento:</label>
                <input type="date" name="nacimiento">

                <label>Número de documento:</label>
                <input type="number" name="dni">

                <label>Foto de perfil:</label>
                <input type="text" name="foto">

                <button type="submit">Registrarme</button>
            </form>
        </section>
    </main>

    <%- include("partials/footer") %>

</body>
</html>
